.cta {
    position: relative;
    background-image: url(images/TE19.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: .3rem;
    z-index: 0;
}

.cta-right {
    text-align: right;
    z-index: 10;
    padding: 1rem;
}

.cta > h1 {
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.cta-filter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 220, .6);
    z-index: -1;
}

.cta-right > p {
    font-size: 2rem;
}

.cta-right > button {
    font-size: 2rem;
    padding: .8rem;
    border none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.cta-right > button:hover {
    color: #dcdcdc;
    background-color: #000;
}