html, body {
    
}

body {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    margin-top: .3rem;
    background-color: #f1f1f1;
    padding-top: 3rem;
    padding-bottom: 4rem;
}