.cta {
    position: relative;
    background-image: url(https://picsum.photos/600/400);
    background-size: cover;
    height: 100%;
    width: 100%;
    margin-top: .3rem;
    z-index: 0;
    &-right {
        text-align: right;
        z-index: 10;
        padding: 1rem;
&> p {
    font-size: 2rem;
}
&> button {
    font-size: 2rem;
    padding: .8rem;
    border: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
&:hover {
    color: #dcdcdc;
    background-color: #000;
}
&:active {
    color: #dcdcdc;
    background-color: #5a5a5a;
}
}
    }
    &-filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(220, 220, 220, .6);
        z-index: -1;
    }
    &> h1 {
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
}