.card {
    position: relative;
    background-size: cover;
    height: 100%;
    width: 45%;
    background-color: rgba(57, 240, 139, 0.8);
}

.card2 {
    position: relative;
    background-size: cover;
    height: 100%;
    width: 45%;
    background-color: rgba(57, 197, 240, 0.8);
}

.card3 {
    position: relative;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-color: rgba(136, 57, 240, 0.8);
    margin-top: .3rem;
}

.card-text {
    padding: .4rem;
    height: 95%;
    width: 95%;
}

.card-button {
    width: 97%;
    margin: .3rem;
}

.card-button2 {
    width: 758px;
    margin: .3rem;
}

.card-button:hover {
    color: #dcdcdc;
    background-color: #000;
}

.card-button2:hover {
    color: #dcdcdc;
    background-color: #000;
}

.card-button:active {
    color: #dcdcdc;
    background-color: #5a5a5a;
}

.card-button2:active {
    color: #dcdcdc;
    background-color: #5a5a5a;
}

.img {
    padding: .3rem;
}

.card-group {
    display: flex;
    justify-content: space-between;
    padding-top: .3rem;
}

@media screen and (max-width: 24rem) {
        .card-group {
            flex-direction: column;
        }

        .card {
            width: 100%;
        }
}